header #top_menu {
    width:800px;
    font-family:"HY수평선B";
    font-size:20px;
    color:#4374D9;
    text-decoration: none;
    border-bottom:solid 1px #bbbbbb;
    padding: 0 0 40px 0;
}

main #picture{
    width:300px;
    height:800px;
    margin:40px 200px 20px 150px;
    display:inline-block;
}

main #about_pic .item {
    width:300px;
    height:200px;

}

footer {
    width:800px;
    margin:80px 0 0 0;
    border-top:solid 1px #bbbbbb;
}

footer #footer_logo {
    width:100px;
    height:50px;
    float:left;
    margin:20px 10px 20px 200px;
}

footer #address {
    font-family:"HY수평선B";
    font-size:13px;
    color:#cccccc;
    float:left;
    margin-top:25px;
}

.clear {
    clear:both;
}